{% extends 'layout/base.html' %} {% block pagetitle %}Home{% endblock %} {%
block container %}
<div class="jumbotron">
  <h1 class="display-3">Share your thoughts</h1>
  <p class="lead">
    On the move? Out and about? Or stuck at home on the sofa during the
    pandemic. We communicate more naturally using voice, and facial expressions.
    How about we bring that to our day to day working lives?
  </p>
  <p>
    <a
      class="btn btn-lg btn-success"
      href="{{ url_for('record') }}"
      role="button"
      >Post a Video</a
    >
  </p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>How does this work?</h4>
    <p>
      You're authenticated with GitHub. All of your data is stored within the
      Azure tenant you deploy to, and is encoded using Azure.
    </p>
  </div>
</div>
<div class="row marketing">
  <div class="col-lg-6">
    <h4>Recent videos</h4>
    {% with blobs =blobs %}{% include 'layout/gallery-view.html' %}{% endwith %}
  </div>
</div>
{% endblock %}
