starlette
databases
sqlalchemy
aiofiles
jinja2
python-dotenv
aiohttp
uvicorn
uvloop
#TODO: Required in docker?
httptools
dataclasses_serialization
azure-confidentialledger
azure-mgmt-confidentialledger
azure-identity